body {
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

main {
    grid-area: main;
}

.background-img {
    position: absolute;
    top: 401px;
}

.main__navigate-info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
   
}

.main__navigate-info-wrapper__item {
    margin-right: 9.81px;
    font-weight: 400;
    font-size: 12px;
    color: rgba(51, 51, 51, 0.7);
}

.main__navigate-info-wrapper__arrow {
    position: relative;
    margin-right: 13.5px;
    top: 1px;
}

.main__navigate-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    gap: 8px;
    margin-bottom: 24px;
    padding-left: 0px;
}

.main__navigate-wrapper li {
    list-style-type: none; /* убираем маркеры у li */
    padding: 8px;
    border-radius: 24px;
    white-space: nowrap; /* запретить перенос слов*/
}

.main__navigate-wrapper-active {
    border: 2px solid #16C8BB;
}

.main__navigate-wrapper-non-active {
    border: 1px solid #C1C5CD;
}

.main__navigate-wrapper__item-with-img {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.main__navigate-wrapper__item-with-img img {
    margin-right: 5px;
    width: 18px;
    height: 18px;
    position: relative;
}

.content-wrapper {
    display: grid;;
    grid-template-columns: 1fr;
    gap: 24px;
    margin-bottom: 56px;
}

.main-cart-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.content-wrapper__main-cart {
    height: 500px;
}

.sub-cart-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.sub-cart-wrapper__sub-cart {
    height: 475px;
}

.content-cart {
    border: 1px solid #DEDEDE;
    border-radius: 16px;
    position: relative;
}

.content-cart img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
    
}

.content-wrapper__text-wrapper__title {
    font-weight: 700;
    font-size: 18px;
    color: #333333;
    margin-bottom: 4px;
}

.content-wrapper__text-wrapper {
    padding: 16px;
}

.content-wrapper__text-wrapper__autor {
    margin-bottom: 8px;
    font-size: 12px;
}

.content-wrapper__text-wrapper__date {
    color: #868686;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    bottom: 16px;
}

@media screen and (max-width: 1024px) {
    .main__navigate-wrapper__item-with-img {
        margin-right: 8px;
        margin-bottom: 7px;
    }

    .main__navigate-wrapper__item-with-img img {
        top: 3px;
        position: relative;
    }

}

@media screen and (max-width: 768px) {
    .main-cart-wrapper {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .sub-cart-wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }

    .content-wrapper__main-cart {
        height: 600px;
    }
    
}

@media screen and (max-width: 414px) {

    .main__main-title {
        font-size: 32px;
    }

    .main__navigate-wrapper {
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        overflow-x: auto;
    }

    .main__navigate-wrapper::-webkit-scrollbar {
        display: none;
      }

    .sub-cart-wrapper {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .content-wrapper__main-cart {
        height: 478px;
    }
}


